* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: dimgrey;
}

.display {
  margin: 70px auto 20px;
  display: block;
  width: 650px;
  height: 280px;
  box-shadow:  5px 5px 5px deepskyblue;
  border-color: deepskyblue;
  border-radius: 10px;
  outline: none;
	-moz-appearance: none;
  resize: none;
  color: darkcyan;
}

.keyboard__wrapper {
  margin: 0 auto 20px;
  display: block;
  width: 850px;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(145deg, #F2F7FB, #E9F2FB);
  box-shadow:  8px 8px 15px deepskyblue;
}

.keyboard__key {
  width: 7%;
  height: 50px;
  background: -webkit-linear-gradient(245deg, #1E71F5, #3CDEE7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
